html {box-sizing:border-box;}
*,* :after, *:before {box-sizing:inherit;}

.container {
	width: 350px;
	height: 200px;
	padding:15px;
	border:1px outset blue;
	background-color: rgb(65,70,129);

}

input {
	margin: 15px;
	width: 60px;
	height: 50px;
	font-size: 16px;
	text-align: center;
	background-color: rgb(161,204,250);
}
input:focus{
	outline: 1px solid black;
	color: rgb(72,72,72);
}

button{
	text-align: center;
	font-size: 16px;
	margin: 5px;
	width: 35px;
	height: 35px;
	background-color:rgb(191,204,209);
}

#answer{
	padding-top: 15px;
	margin: 15px;
	width: 60px;
	height: 50px;
	color: black;
	font-size: 16px;
	text-align: center;
	background-color: rgb(161,204,250);
	border: 2px solid rgb(212,213,248);
}

#equal{
	font-size: 20px;
	color: white;
	margin-top: 26px;
	margin-right: 15px;
	margin-left: 15px;
}

.inputs{
	display: flex;
}

button:focus {
	background-color:rgb(212,213,248); 
	outline: 1px solid black;
}